:root {
    --bg: #fff;
    --bg1: #fff9;
    --blur: blur(10px);
    --hover-color: #dfdfdf;
    --transition: 0.4s cubic-bezier(0.25, 1, 0.5, 1);
    --border-radius: 8px;
    --height: 40px;
    --color: #000;
    --font-size: 16px;
    --main-bar-size: 24px;
    --icon-color: none;
    --icon-color1: invert(1);
    --b-button: 32px;
    --o-padding: 8px;
}

html,
body {
    margin: 0;
    font-family: sans-serif;
    font-size: var(--font-size);
    color: var(--color);
}

.icon {
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 0;
    filter: var(--icon-color);
    user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ddd;
}
::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}
::-webkit-scrollbar-track {
    background: #0000;
}
::-webkit-scrollbar-button {
    height: 8px;
    width: 8px;
    background-color: #0000;
}
::-webkit-scrollbar-corner {
    background-color: #0000;
}

button {
    outline: none;
    color: var(--color);
    font-family: var(--main-font);
    border-radius: var(--border-radius);
    background-color: var(--bg);
    height: var(--height);
    border: none;
    margin: 0px;
    padding: 0;
    transition: var(--transition);
    width: var(--b-button);
    height: var(--b-button);
    position: relative;
}
button:hover {
    background-color: var(--hover-color);
}
button > .icon {
    width: var(--b-button);
}

input {
    outline: none;
    background-color: #0000;
    color: var(--color);
    border: none;
    border-bottom: 1px solid var(--color);
}

select {
    outline: none;
    border-radius: var(--border-radius);
    background-color: var(--bg);
    height: var(--height);
    border: none;
    outline: none;
    margin: 0px;
    color: var(--color);
    padding: 0 var(--o-padding) 0 var(--o-padding);
    transition: var(--transition);
    user-select: none;
}

select:hover {
    background-color: var(--hover-color);
}
option {
    background-color: var(--bg);
}
textarea {
    outline: none;
    background-color: #0000;
    color: var(--color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bar-bg: rgba(0, 0, 0, var(--alpha));
        --bar-hover-color: #fff2;
        --bg: #000;
        --bg2: #1f1f1f;
        --hover-color: #333;
        --m-color1: hsl(224deg 100% 38%);
        --m-color2: hsl(0, 0%, 14%);
        --shadow: #fff9 0 0 2px;
        --color: #fff;
        --color2: #aaa;
        --border: 1px #fff solid;
        --icon-color: var(--icon-color1) !important;
    }
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: #444;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    kbd {
        box-shadow: 0 5px #fff4;
        background: linear-gradient(315deg, #191919, #000);
    }
}

body::-webkit-scrollbar {
    display: none;
}
html,
body {
    margin: 0;
    overflow: hidden;
}

body > #index {
    display: flex;
    overflow: hidden;
    max-width: 100vw;
    position: fixed;
    z-index: 1;
    right: 0;
    transition: 0.4s;
}
body > #index > div {
    position: relative;
    width: var(--main-bar-size);
    height: var(--main-bar-size);
}
body > #index > div > .icon {
    width: var(--main-bar-size);
    height: var(--main-bar-size);
}

:is(div, button):has(> .icon) {
    height: 24px;
    width: 24px;
    position: relative;
}
:is(div, button) > .icon {
    height: 24px;
    width: 24px;
}

.hiden {
    transform: translateX(calc(100% - var(--main-bar-size)));
}

.main {
    height: 100vh;
    position: absolute;
    top: 0;
    display: flex;
    transition: 0.4s;
    overflow: hidden;
}

#main {
    min-width: 100vw;
    background-color: var(--bg);
}

.to_visit {
    position: relative;
}
.to_visit::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    top: 0px;
    right: 0px;
    background-color: #2735bb;
    border-radius: 50%;
}

#book_nav {
    position: absolute;
    top: 24px;
    width: 20vw;
    left: -20vw;
    height: calc(100vh - 24px);
    display: flex;
    flex-direction: column;
    z-index: 2;
    background-color: var(--bg1);
    backdrop-filter: var(--blur);
    transition: var(--transition);
    border-radius: 0 1rem 1rem 0;
}
.book_nav_show {
    left: 0 !important;
    box-shadow: 0 0 4px #0002;
}

#book_buttons {
    display: flex;
    width: 100%;
}
#book_buttons > div:has(.icon) {
    height: 24px;
    width: 24px;
    position: relative;
}
#change_edit {
    height: 24px;
    width: 24px;
    position: relative;
}
.disable_change {
    cursor: not-allowed;
}
#book_buttons > div > .icon {
    height: 24px;
    width: 24px;
}
#book_name {
    flex-grow: 1;
}
#book_content_container {
    --font-size: 16px;
    --content-width: 60em;
    --line-height: 1.2em;
    position: relative;
    height: calc(100vh - 24px);
    padding: 1rem 64px;
    overflow-y: scroll;
    overflow-x: hidden;
    & > :first-child {
        margin: 0 auto;
        font-size: var(--font-size);
        max-width: var(--content-width);
        line-height: var(--line-height);
        font-family: "Times New Roman", Times, serif;

        border: none;
        width: 100%;
        & > :has([data-play]) {
            position: relative;
            &:hover {
                > [data-play] {
                    opacity: 1;
                }
            }
        }
        & > * > [data-play] {
            position: absolute;
            left: -30px;
            opacity: 0.2;
            transition: var(--transition);
        }
    }
    & > textarea {
        height: calc(100vh - 96px);
    }
}
.mark_word {
    text-decoration: underline wavy #999;
}
.flash_word {
    text-decoration: underline wavy #2735bb;
}

.context_start,
.context_end {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: #000 1px solid;
    transform: translate(-50%, -50%);
}
.context_start::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 4px;
    width: 2px;
    height: 1em;
    background-color: #000;
}
.context_end::after {
    content: "";
    position: absolute;
    top: -16px;
    left: 4px;
    width: 2px;
    height: 1em;
    background-color: #000;
}

#book_content .words_sum {
    position: sticky;
    top: 0;
    background-color: var(--bg1);
    backdrop-filter: var(--blur);
    z-index: 1;
    & progress {
        width: 2rem;
    }
}

#pTTSp {
    position: fixed;
    bottom: 24px;
    margin: auto 0;
    background: var(--bar-bg);
    backdrop-filter: var(--blur);
    display: none;
    align-items: center;
    justify-content: center;
    & > audio {
        height: 24px;
        display: block;
    }
}

.pTTS_show {
    display: flex !important;
}

.books {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: scroll;
    & > div:not(:has(> .icon)) {
        display: flex;
        flex-direction: column;
        & > :nth-child(1) {
            border: none;
            width: 50px;
            height: calc(50px * 1.414);
            background-color: #dfdfdf;
            border-radius: 4px;
        }
    }
}

#book {
    display: flex;
    flex-direction: column;
}
#book > #sections {
    width: 20px;
}

#online_books {
    background-color: var(--bg1);
    backdrop-filter: var(--blur);
    transition: var(--transition);
    border: none;
    box-shadow: 0 0 4px #0002;
    padding: 4px;
    border-radius: 4px;
}

#dic {
    position: absolute;
    top: 24px;
    left: 1rem;
    width: calc(100vw - 2rem);
    max-height: 60vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg1);
    backdrop-filter: var(--blur);
    transition: var(--transition);
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 0 4px #0002;
}

.dic_show {
    opacity: 1 !important;
    visibility: visible !important;
}

.dic_sentence {
    & > :is(:nth-child(2), :nth-child(4), :nth-child(5)) {
        display: none !important;
    }
}

.more_words {
    display: flex;
    gap: 4px;
}
.more_words > span {
    cursor: pointer;
    border-radius: 4px;
    border: dashed 1px #000;
}

.translate {
    opacity: 0.6;
    margin: 0;
}
div:has(> .translate) > :not(.translate) {
    margin: 4px 0;
}

.dic_sen {
    padding-left: 1rem;
}

.dic_details > div {
    border-radius: 0.4rem;
    padding: 4px;
    border: solid 1px transparent;
}
.dic_details > div:hover {
    border: dashed 1px #000;
}
.dic_details > div:has(input[type="radio"]:checked) {
    border: dashed 1px #000;
}
.dic_details > div > input[type="radio"] {
    display: none;
}

.hide_means > div:not(:has(input[type="radio"]:checked)) {
    display: none;
}

.note_dialog {
    margin: 3rem;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    & > textarea {
        flex-grow: 1;
        overflow: scroll;
        border: none;
        resize: none;
    }
    & > :last-child > :first-child {
        display: flex;
        & > button {
            display: block;
            width: auto;
            height: 24px;
            padding: 0 4px;
        }
    }
    &::backdrop {
        backdrop-filter: var(--blur);
    }
}

.ai_dialog {
    margin: 0;
    width: 400px;
    height: 400px;
    border: 1px solid var(--color) !important;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    & > textarea {
        flex-grow: 1;
        overflow: scroll;
        border: none;
        resize: none;
    }
    & > :last-child > :first-child {
        display: flex;
        & > button {
            display: block;
            width: auto;
            height: 24px;
            padding: 0 4px;
        }
    }
    &::backdrop {
        background: #0001;
    }
}

.dic_dialog {
    margin: 0;
    width: 400px;
    height: 400px;
    border: 1px solid var(--color) !important;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 1rem;
    padding: 1rem;
    box-sizing: border-box;
    & > :first-child {
        flex-grow: 1;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: 4px;
        & > label {
            display: block;
            cursor: pointer;
            border: transparent 1px dashed;
            & > input {
                display: none;
            }
            & > p {
                margin: 8px;
            }
        }
        & > label:has(> input:checked) {
            border: var(--color) 1px dashed;
            border-radius: 1rem;
        }
    }
    & > :last-child > :first-child {
        display: flex;
        & > button {
            display: block;
            width: auto;
            height: 24px;
            padding: 0 4px;
        }
    }
    &::backdrop {
        background: #0001;
    }
}

#mark_word_list {
    position: fixed;
    overflow-y: scroll;
    right: -100%;
    top: 24px;
    height: calc(100vh - 24px);
    width: 40vw;
    border-radius: 1rem 0 0 1rem;
    box-sizing: border-box;
    padding: 1rem;
    background: var(--bar-bg);
    backdrop-filter: var(--blur);
    transition: var(--transition);

    & > div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: calc(40vw - 16px * 2);
    }
}

.show_mark_word_list {
    right: 0 !important;
    box-shadow: var(--shadow);
}

#review {
    position: absolute;
    top: 100vh;
    background-color: var(--bg1);
    backdrop-filter: var(--blur);
    transition: var(--transition);
}
.review_show {
    top: 24px !important;
}
#review_buttons {
    display: flex;
}
#review_mode input {
    display: none;
}
#review_mode > label {
    border-radius: 4px;
    border: dashed 1px transparent;
}
#review_mode > label:has(input:checked) {
    border: dashed 1px #000;
}

#review_buttons > div:has(.icon) {
    height: 24px;
    width: 24px;
    position: relative;
}
#review_buttons > div > .icon {
    height: 24px;
    width: 24px;
}

#review {
    width: 100vw;
    height: calc(100vh - 24px);
    display: flex;
    flex-direction: column;
}
#review_list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
#review_view {
    flex-grow: 1;
    display: flex;
    max-height: calc(100vh - 2 * 24px);
}
.review_word {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.review_word > :first-child {
    flex-grow: 1;
    overflow: scroll;
}
.review_word > :nth-child(2) {
    overflow: scroll;
}
.review_word > :last-child {
    display: flex;
    justify-content: center;
}

#review_l {
    height: calc(100vh - 32px);
    overflow: auto;
}
#review_l > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#review_l > div > span:nth-child(1) {
    display: flex;
    overflow-x: auto;
    gap: 4px;
}

.review_spell {
    flex-grow: 1;
}

.spell_input {
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

#history {
    overflow: scroll;
}
#history > div {
    position: relative;
}
#history > div > div {
    position: absolute;
    height: 24px;
}
#setting {
    overflow: scroll;
    background-color: var(--bg1);
    backdrop-filter: var(--blur);
    transition: var(--transition);
    border: none;
    margin-top: 24px;
    max-height: calc(100vh - 24px);
}

#menu {
    position: fixed;
    background-color: var(--bg1);
    backdrop-filter: var(--blur);
    transition: var(--transition);
    padding: 4px;
    margin: 0;
    max-width: 64px !important;
    min-width: none !important;
    border: none;
    box-shadow: 0 0 4px #0002;
    border-radius: 4px;
}
#menu > * {
    cursor: pointer;
    user-select: none;
}

#prompt {
    position: fixed;
    background-color: var(--bg1);
    backdrop-filter: var(--blur);
    transition: var(--transition);
    padding: 1rem;
    border: none;
    box-shadow: 0 0 4px #0002;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
}

#prompt > span {
    grid-area: 1 / 1 / 2 / 3;
}
#prompt > input {
    grid-area: 2 / 1 / 3 / 3;
}
#prompt > .cancel_b {
    grid-area: 3 / 1 / 4 / 2;
    width: 100%;
}
#prompt > .ok_b {
    grid-area: 3 / 2 / 4 / 3;
    width: 100%;
}

#toast {
    position: fixed;
    bottom: 16px;
    right: 16px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
}
